/*initialisation grille */
.conteneur-grid{
	display: grid;
	grid-template-columns: 50% 50%;
	height: 100%;
	background: #fff;
}
/*fin initialisation grille */


.element{
	color: #fff;
}

.droite{
	display: flex;
	align-items: center; /*alignement par rapport au cross axis */
	justify-content: center;/*alignement par rapport au main axis */
	flex-wrap: wrap; /* aller a la ligne */
	flex-direction: row; /* direction en mode ligne */
	background: #ff005a;
}


.assurance-e{
	font-size: 400%;
}


/*style pour la navigation */
.navigation{
	list-style: none;
	padding: 0;
	margin: 20px;
}

.navigation a{
	display: block;
	text-decoration: none;
	text-align: center;
	padding: 2px;
}


/**
 * 1. On definit un contexte Flexbox sur le parent.
 * 2. On definit le sens de gauche a droite
 * == flex-direction: row et flex-wrap: wrap
 * 3. on aligne les elment a droite.
 */


.navigation{
        display: flex;                  /* 1 */
        flex-flow: row wrap;            /* 2 */
        justify-content: flex-end;      /* 3 */
}

/* fin style pour la navigation */

/* gestion de la partie droite qui à le formulaire */
.conteneur-flex{
	display: flex;
	flex-direction: column;
       	flex-wrap: wrap;
	margin: 20px;
}
